.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
/sfpc-blog/
_config_dev.yml
/.vscode/

_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json

/assets/sfpc-images/

unused-images.py
optimize-images.py
```