<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<footer>
    <p>&copy; {{ site.time | date: "%Y" }} <a href="mailto:styling-lengthy.04@icloud.com"><em>Say hi to Alex.</em></a></p>

<br>

<div class="social-icons">
    <a href="https://www.linkedin.com/in/alexdw5" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://twitter.com/alexdw5" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://github.com/alexdwagner" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/alextimemusic/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://open.spotify.com/user/123840177?si=SaHY1KSqSpiRX4Jgo_Iyfw" target="_blank"><i class="fab fa-spotify"></i></a>
  </div>
  
  </footer>
  