<nav>
  <ul>
    <li><b><a href="{{ '/' | relative_url }}">Home</a></b></li>
    <!-- <li><a href="{{ '/cv/' | relative_url }}">CV</a></li> -->
    <li><b><a href="https://drive.google.com/file/d/11-lM1yqH5mqDGT8MThGQycu0297uPEDp/view?usp=sharing">CV/Resume</a></b></li>
    <li><b><a href="{{ '/about/' | relative_url }}">About</a></b></li>
    <li><b><a href="https://alex-wagner-dev.framer.ai/">Portfolio</a></b></li>
    <li><b><a href="{{ '/links/' | relative_url }}">Links</a></b></li>
  </ul>
</nav>
