<nav>
  <ul>
    <li><b><a href="{{ '/' | relative_url }}">Home</a></b></li>
    <!-- <li><a href="{{ '/cv/' | relative_url }}">CV</a></li> -->
    <li><b><a href="https://docs.google.com/document/d/1AT8UyNHsDe2nsG2RL-wUb-Ec9_rq9j3srp0T857cjrs/edit?usp=sharing">CV</a></b></li>
    <li><b><a href="{{ '/about/' | relative_url }}">About</a></b></li>
    <!-- <li><b><a href="{{ '/portfolio/' | relative_url }}">Portfolio</a></b></li> -->
    <li><b><a href="{{ '/links/' | relative_url }}">Links</a></b></li>
  </ul>
</nav>
